In [28]:
import numpy as np
import pandas as pd
# loading the datasets
netflix = pd.read_csv("./netflix_titles.csv")
disney = pd.read_csv("./disney_plus_titles.csv")
hulu = pd.read_csv("./hulu_titles.csv")
amazon = pd.read_csv("./amazon_prime_titles.csv")

# Exploring the datasets

In [29]:
# Netflix dataset
print("Netflix: \n")
print(f'Shape:\n{netflix.shape}\n\n')
print('Head:')
print(f'\n{netflix.head(1)}\n\n')
print('Info:')
print(f'\n{netflix.info()}\n\n')
print('Describe:')
print(f'\n{netflix.describe()}\n\n')

Netflix:

Shape:
(8807, 12)


Head:

  show_id   type                 title         director cast        country  \
0      s1  Movie  Dick Johnson Is Dead  Kirsten Johnson  NaN  United States

           date_added  release_year rating duration      listed_in  \
0  September 25, 2021          2020  PG-13   90 min  Documentaries

                                         description
0  As her father nears the end of his life, filmm...


Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 825.8+ KB

None


Describe:

       release_year
count   8807.000000
mean    2014.180198
std        8.819312
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2019.000000
max     2021.000000

In [30]:
# Disney Plus
print("Disney Plus: \n")
print(f'Shape:\n{disney.shape}\n\n')
print('Head:')
print(f'\n{disney.head(1)}\n\n')
print('Info:')
print(f'\n{disney.info()}\n\n')
print('Describe:')
print(f'\n{disney.describe()}\n\n')

Disney Plus:

Shape:
(1450, 12)


Head:

  show_id   type                                             title  \
0      s1  Movie  Duck the Halls: A Mickey Mouse Christmas Special

                            director  \
0  Alonso Ramirez Ramos, Dave Wasson

                                                cast country  \
0  Chris Diamantopoulos, Tony Anselmo, Tress MacN...     NaN

          date_added  release_year rating duration          listed_in  \
0  November 26, 2021          2016   TV-G   23 min  Animation, Family

                                        description
0  Join Mickey and the gang as they duck the halls!


Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

None


Describe:

       release_year
count   1450.000000
mean    2003.091724
std       21.860162
min     1928.000000
25%     1999.000000
50%     2011.000000
75%     2018.000000
max     2021.000000

In [31]:
# Hulu
print("Hulu: ")
print(f'Shape:\n{hulu.shape}\n\n')
print('Head:')
print(f'\n{hulu.head(1)}\n\n')
print('Info:')
print(f'\n{hulu.info()}\n\n')
print('Describe:')
print(f'\n{hulu.describe()}\n\n')

Hulu:
Shape:
(3073, 12)


Head:

  show_id   type                           title director  cast country  \
0      s1  Movie  Ricky Velez: Here's Everything      NaN   NaN     NaN

         date_added  release_year rating duration         listed_in  \
0  October 24, 2021          2021  TV-MA      NaN  Comedy, Stand Up

                                         description
0  â€‹Comedian Ricky Velez bares it all with his ho...


Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

None


Describe:

       cast  release_year
count   0.0   3073.000000
mean    NaN   2012.567524
std     NaN     10.844069
min     NaN   1923.000000
25%     NaN   2010.000000
50%     NaN   2016.000000
75%     NaN   2019.000000
max     NaN   2021.000000

In [32]:
# Amazon Prime
print("Amazon Prime: ")
print(f'Shape:\n{amazon.shape}\n\n')
print('Head:')
print(f'\n{amazon.head(1)}\n\n')
print('Info:')
print(f'\n{amazon.info()}\n\n')
print('Describe:')
print(f'\n{amazon.describe()}\n\n')

Amazon Prime:
Shape:
(9668, 12)


Head:

  show_id   type                title      director  \
0      s1  Movie  The Grand Seduction  Don McKellar

                                             cast country      date_added  \
0  Brendan Gleeson, Taylor Kitsch, Gordon Pinsent  Canada  March 30, 2021

   release_year rating duration      listed_in  \
0          2014    NaN  113 min  Comedy, Drama

                                         description
0  A small fishing village must procure a local d...


Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7585 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

None


Describe:

       release_year
count   9668.000000
mean    2008.341849
std       18.922482
min     1920.000000
25%     2007.000000
50%     2016.000000
75%     2019.000000
max     2021.000000

# Data Wrangling

I saw that all the datasets contain 12 columns and they are consitant. They all have same columns names, such as description, listed_in, type

I realised that I have to combine them into one dataset.

But the problem the show_id is repeated, so I got an idea of prefixing the show_id with its own platform name. This way I get rest of the repetatoin of the show_id.

Also adding a new column I will name it platform, to know what platform this title came from.

In [33]:
# Prefix the show_id with its coresponding platform.

netflix['show_id'] = "nf_" + netflix['show_id']
disney['show_id'] = "dp_" + disney['show_id']
hulu['show_id'] = "hl_" + hulu['show_id']
amazon['show_id'] = "amzn_" + amazon['show_id']

# Adding the platform column

netflix['platform'] = 'Netflix'
disney['platform'] = 'Disney Plus'
hulu['platform'] = 'Hulu'
amazon['platform'] = 'Amazon Prime'



# Making sure that changes are effective

print(netflix[['show_id', 'platform']].head(1))
print(disney[['show_id', 'platform']].head(1))
print(hulu.loc[:1, ['show_id', 'platform']])
print(amazon.loc[:1, ['show_id', 'platform']])

  show_id platform
0   nf_s1  Netflix
  show_id     platform
0   dp_s1  Disney Plus
  show_id platform
0   hl_s1     Hulu
1   hl_s2     Hulu
   show_id      platform
0  amzn_s1  Amazon Prime
1  amzn_s2  Amazon Prime

Now I need to combine them into one big dataset.
But there is a problem as there might be titles that in more than one platform, so I need first to explore the new dataset and see what I can do.

In [34]:
# Combining all datasets into one dataset.

all_titles = pd.concat([netflix, disney, hulu, amazon])

# Exploring and Cleaning of the new Dataset.

In this step, I need to explore the new dataset. And also clean it from duplicates or null values.

In [35]:
# Exploring the Dataset
print('All titles: ')
print(f'Shape:\n{all_titles.shape}\n\n')
print('Head:')
print(f'\n{all_titles.head(1)}\n\n')
print('Info:')
print(f'\n{all_titles.info()}\n\n')
print('Describe:')
print(f'\n{all_titles.describe()}\n\n')

All titles:
Shape:
(22998, 13)


Head:

  show_id   type                 title         director cast        country  \
0   nf_s1  Movie  Dick Johnson Is Dead  Kirsten Johnson  NaN  United States

           date_added  release_year rating duration      listed_in  \
0  September 25, 2021          2020  PG-13   90 min  Documentaries

                                         description platform
0  As her father nears the end of his life, filmm...  Netflix


Info:
<class 'pandas.core.frame.DataFrame'>
Index: 22998 entries, 0 to 9667
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       22998 non-null  object
 1   type          22998 non-null  object
 2   title         22998 non-null  object
 3   director      14738 non-null  object
 4   cast          17677 non-null  object
 5   country       11499 non-null  object
 6   date_added    13444 non-null  object
 7   release_year  22998 non-null  int64
 8   rating        22134 non-null  object
 9   duration      22516 non-null  object
 10  listed_in     22998 non-null  object
 11  description   22994 non-null  object
 12  platform      22998 non-null  object
dtypes: int64(1), object(12)
memory usage: 2.5+ MB

None


Describe:

       release_year
count  22998.000000
mean    2010.811244
std       15.401142
min     1920.000000
25%     2010.000000
50%     2016.000000
75%     2019.000000
max     2021.000000

I need to see if there are duplicates based on title and release_year, as there might be titles with same name but they are remakes.

In [36]:
# Firstly check if there are duplicates based on title 
print(f'Couting duplicates based on title: {all_titles.duplicated(subset=["title"]).sum()}')

Couting duplicates based on title: 883

In [37]:
# Check if there are duplicates based on title and release_year. 
# Those are the ones that needed to be dropped.
print(f'Counting duplicates based on title, release_year: {all_titles.duplicated(subset=["title", "release_year"]).sum()}')

Counting duplicates based on title, release_year: 398

In [38]:
# print the duplicated, to demonstrate that they are mainly available in more than one platform
duplicates = all_titles[all_titles.duplicated(subset=['title', 'release_year'], keep=False)]
print(duplicates.sort_values('title'))

         show_id   type                       title         director  \
7473  amzn_s7474  Movie        1 Night in San Diego  Penelope Lawson
873      hl_s874  Movie        1 Night in San Diego              NaN
9659  amzn_s9660  Movie  10 Things I Hate About You       Gil Junger
707      dp_s708  Movie  10 Things I Hate About You       Gil Junger
2413    hl_s2414  Movie             10.0 Earthquake              NaN
...          ...    ...                         ...              ...
2512    nf_s2513  Movie                   Zaki Chan       Wael Ihsan
4705  amzn_s4706  Movie                   Zaki Chan       Wael Ihsan
5621    nf_s5622  Movie                      Zapped    Peter DeLuise
2415    hl_s2416  Movie                      Zapped              NaN
1424    dp_s1425  Movie                      Zapped    Peter DeLuise

                                                   cast  \
7473  Laura Ashley Samuels, Jenna Ushkowitz, Alexand...
873                                                 NaN
9659  Heath Ledger, Julia Stiles, Joseph Gordon-Levi...
707   Heath Ledger, Julia Stiles, Joseph Gordon-Levi...
2413                                                NaN
...                                                 ...
2512  Ahmed Helmy, Yasmin Abdulaziz, Hassan Hosny, H...
4705                      Ahmed Helmy, Yasmin Abdulaziz
5621  Zendaya, Chanelle Peloso, Spencer Boldman, Emi...
2415                                                NaN
1424  Zendaya , Chanelle Peloso, Spencer Boldman, Em...

                    country          date_added  release_year  rating  \
7473                    NaN                 NaN          2020     18+
873                     NaN      March 15, 2021          2020     NaN
9659                    NaN                 NaN          1999   PG-13
707           United States   November 12, 2019          1999   PG-13
2413          United States  September 28, 2018          2014  87 min
...                     ...                 ...           ...     ...
2512                  Egypt        May 19, 2020          2005   TV-PG
4705                  Egypt                 NaN          2005      7+
5621  Canada, United States    February 1, 2017          2014    TV-Y
2415  Canada, United States  September 28, 2018          2014    TV-G
1424  Canada, United States   November 12, 2019          2014    TV-G

     duration                                        listed_in  \
7473   86 min                                           Comedy
873    86 min                                           Comedy
9659   97 min                           Comedy, Drama, Romance
707    98 min                   Comedy, Coming of Age, Romance
2413      NaN                                Action, Adventure
...       ...                                              ...
2512  109 min  Comedies, International Movies, Romantic Movies
4705  109 min                                  Comedy, Romance
5621   92 min               Children & Family Movies, Comedies
2415   94 min                 Adventure, Black Stories, Comedy
1424   95 min           Comedy, Coming of Age, Science Fiction

                                            description      platform
7473  BFFs Hannah and Brooklyn, played by Jenna Ushk...  Amazon Prime
873   BFFs Hannah and Brooklyn, played by Jenna Ushk...          Hulu
9659  On the first day at his new school, Cameron in...  Amazon Prime
707   Cameron falls for the girl of his dreams, but ...   Disney Plus
2413  Los Angeles is about to be hit by a devastatin...          Hulu
...                                                 ...           ...
2512  An unqualified young man has his work cut out ...       Netflix
4705  Trouble follows Zaki wherever he goes, until h...  Amazon Prime
5621  A girl discovers a dog-training app that can g...       Netflix
2415  Zoey, a skilled dancer and straight-A student,...          Hulu
1424  Zoey discovers a magical app that can control ...   Disney Plus

[790 rows x 13 columns]

In [39]:
# Dropping the duplicates.

all_titles_duplicates_free = all_titles.drop_duplicates(subset=['title', 'release_year']) 

# Making sure that the changes under effect

print(f'New shape: {all_titles_duplicates_free.shape}')

print(f'Counting duplicates based on title, release_year: {all_titles_duplicates_free.duplicated(subset=["title", "release_year"]).sum()}')

New shape: (22600, 13)
Counting duplicates based on title, release_year: 0

Now after I dropped the duplicates, I need to check if there are null values.

In [ ]:
print(f'Couting duplicates in each column\n{all_titles_duplicates_free.isna().sum()}')

Couting duplicates in each column: show_id             0
type                0
title               0
director         8096
cast             5198
country         11212
date_added       9297
release_year        0
rating            844
duration          463
listed_in           0
description         4
platform            0
dtype: int64